# Advertising Analytics Click Prediction: ETL


This is the SQL/Data exploration part for the Advertising Analytics Click notebooks.  For this stage, we will focus the Exploration of data.

In [0]:
# Load parquet files: Dataframe and View
impression = spark.read.parquet("/mnt/adtech/impression/parquet/train.csv/")
impression.createOrReplaceTempView("impression")

In [0]:
%sql describe impression

In [0]:
# Banner Position
%sql select banner_pos, count(1)
from impression
group by 1 order by 1

In [0]:
# click vs non-click for Banner Position
%sql select banner_pos,
sum(case when click = 1 then 1 else 0 end) as click,
sum(case when click = 0 then 1 else 0 end) as no_click
from impression group by 1 order by 1

In [0]:
# CTR by banner_pos
%sql select banner_pos,
sum(case when click = 1 then 1 else 0 end) / (count(1) * 1.0) as CTR
from impression group by 1 order by 1

In [0]:
# Device Type
%sql select device_type, count(1)
from impression
group by 1 order by 1

In [0]:
# click vs non-click for Device Type
%sql select device_type,
sum(case when click = 1 then 1 else 0 end) as click,
sum(case when click = 0 then 1 else 0 end) as no_click
from impression group by 1 order by 1

In [0]:
# CTR by device_type
%sql select device_type,
sum(case when click = 1 then 1 else 0 end) / (count(1) * 1.0) as CTR
from impression group by 1 order by 1

In [0]:
# Site Category
%sql select site_category, count(1) as count
from impression
group by 1 having count > 200 order by count desc

In [0]:
# Click vs non-click for Site Category
%sql select site_category,
sum(case when click = 1 then 1 else 0 end) as click,
sum(case when click = 0 then 1 else 0 end) as no_click
from impression group by 1 order by 3 desc

In [0]:
# CTR by site_category
%sql select site_category,
sum(case when click = 1 then 1 else 0 end) / (count(1) * 1.0) as CTR
from impression group by 1 order by 2 desc

In [0]:
# Hour of day
%sql select substr(hour, 7) as hour, 
count(1)
from impression 
group by 1 order by 1

In [0]:
# Click vs non-click for Hour of day
%sql select substr(hour, 7) as hour,
sum(case when click = 1 then 1 else 0 end) as click,
sum(case when click = 0 then 1 else 0 end) as no_click
from impression group by 1 order by 1

In [0]:
# CTR by hour of day
%sql select substr(hour, 7) as hour,
sum(case when click = 1 then 1 else 0 end) / (count(1) * 1.0) as CTR
from impression group by 1 order by 1

In [0]:
# Cardinality of distinct column values
%sql select 
count(1) as total,

count(distinct C1) as C1,
count(distinct banner_pos) as banner_pos,
count(distinct site_id) as site_id,
count(distinct site_domain) as site_domain,
count(distinct site_category) as site_category,
count(distinct app_id) as app_id,
count(distinct app_domain) as app_domain,
count(distinct app_category) as app_category,
count(distinct device_id) as device_id,
count(distinct device_ip) as device_ip,
count(distinct device_model) as device_model,
count(distinct device_type) as device_type,
count(distinct device_conn_type) as device_conn_type,
count(distinct C14) as C14,
count(distinct C15) as C15,
count(distinct C16) as C16,
count(distinct C17) as C17,
count(distinct C18) as C18,
count(distinct C19) as C19,
count(distinct C20) as C20,
count(distinct C21) as C21
from impression

In [0]:
display(impression.describe())